body {
    font-family: Helvetica, Arial, Sans-Serif;
  }

p {
    line-height: 7px;
}

.filters {
    display: flex;
    flex-direction: row;
}

/* .filter filters__crime {
    display: inline-block;
}

.filter filters__officer {
    display: inline-block;
} */

.officersContainer {
    display: flex;
    flex-wrap: wrap;
}

.card-officer {
    border: solid blue 1px;
    margin: 1em;
    padding: 0 1em;
    width: 250px
}

.criminalsContainer {
    display: flex;
    flex-flow: row wrap
    /* flex-wrap: wrap; */
}

.card-criminal {
    border: solid red 1px;
    margin: 1em;
    padding: 0 1em;
    width: 250px
}



/* 
.fishlist-card {
    background-color: white;
    box-shadow: 2px 2px 2px 2px #888888;
    margin: 1em;
    flex-basis: 25%;
    padding: 0 1em;

} */